# Ignore directories related to version control and cached files.
dvc_plots/
__pycache__/

# Ignore directories and files related to JavaScript/node.js dependencies.
node_modules/
package-lock.json
package.json

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Optuna db
optuna.db
optuna-journal.log

# Data
/data

# MacOS file
.DS_Store