# Ignore directories related to version control and cached files.
dvc_plots/
__pycache__/

# Ignore directories and files related to JavaScript/node.js dependencies.
node_modules/
package-lock.json
package.json

# Optuna db
optuna.db

# Model file
model.onnx
/data.txt
