---
license: mit
library_name: sklearn
tags:
  - text-classification
  - sklearn
  - phishing
  - url
  - onnx
model_format: pickle
model_file: model.pkl
inference: false
pipeline_tag: text-classification
datasets:
  - pirocheto/phishing-url
---

# Model Description

The model predicts the probability that a URL is a phishing site.  
To understand what phishing is, refer to the Wikipedia page:  
[https://en.wikipedia.org/wiki/Phishing](https://en.wikipedia.org/wiki/Phishing)
- this is not a phishing link 😜

- **Model type:** {{ model_type }}
- **Task:** Binary classification
- **License:** MIT
- **Repository:** https://github.com/pirocheto/phishing-url-detection

## Evaluation

{{ metrics }}

# How to Get Started with the Model

Using pickle in Python is discouraged due to security risks during data deserialization, potentially allowing code injection.
It lacks portability across Python versions and interoperability with other languages.
Read more about this subject in the [Hugging Face Documentation](https://huggingface.co/docs/hub/security-pickle).

Instead, we recommend using the ONNX model, which is more secure.
In addition to being lighter and faster, it can be utilized by languages supported by the [ONNX runtime](https://onnxruntime.ai/docs/get-started/).

Below are some examples to get you start. For others languages please refer to the ONNX documentation

<details>
  <summary><b>Python</b> - ONNX - [recommended 👍]</summary>

```python
{{ code.py.onnx }}
```
</details>

<details>
  <summary><b>NodeJS</b>- ONNX - [recommended 👍]</summary>

```javascript
{{ code.node }}
```
</details>

<details>
  <summary><b>JavaScript</b> - ONNX - [recommended 👍]</summary>

```html
{{ code.js }}
```
</details>

<details>
  <summary><b>Python</b> - Pickle - [not recommended ⚠️]</summary>

```python
{{ code.py.pkl }}
```
</details>
